.App {
  text-align: right;
  margin: 100px;
}
.table {
  text-align: center;
  width : 110vw;
  height:auto;
 display: flex;
 flex-wrap: wrap;
 flex-direction:column;
 align-items:center

}

.pie {
  

}

